<div class="container-fluid">
    <div class="row">
        <div *ngIf="sideBarStatus" style="height: 94vh; width: fit-content; background-color: rgb(109, 118, 125);" class="col-lg-2  d-flex flex-column p-3">
            <a style="text-decoration: none; color: rgb(0, 0, 0);" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none; color: rgb(0, 0, 0);" class="fw-bolder" routerLink="/users">USERS</a>
            <button (click)="logout()" class="btn  mt-auto text-light fw-bolder">LogOut <i
                    class=" ms-1 fa-solid fa-right-from-bracket"></i> </button>
        </div>


        <div style="min-width: 90%;"  class="col">
            <div   class="row pt-2">
                <div class="col-lg-8">
                    <div style="height: 180px; background-image: url('https://static.vecteezy.com/system/resources/previews/000/694/606/original/abstract-colorful-geometric-banner-template-background-vector.jpg'); " class="banner rounded p-3 d-flex align-items-center shadow">
                        <h1 class="fw-bolder">
                            <i (click)="menuBtnClicked()" style="cursor: pointer;" class="fa-solid fa-bars me-3"></i> Welcome {{adminName}}!!
                        </h1>
                    </div>
                    <div class="row mt-3 ms-1">
                        <div class="col-lg-5 border rounded shadow">
                            <!-- calender -->
                            <app-calender></app-calender>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6 border rounded shadow">
                            <!-- chart -->
                            <app-chart></app-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="height: 400px;" class="border rounded p-2 shadow edit-admin">
                        <!-- child -->
                        <app-update-admin (onAdminChange)="onAdminChange($event)"></app-update-admin>
                    </div>
                    <div style="height: 150px; background-image: url('https://static.vecteezy.com/system/resources/previews/000/694/606/original/abstract-colorful-geometric-banner-template-background-vector.jpg');" class="banner rounded p-3 d-flex align-items-center shadow mt-3">
                        <h1> <i class="fa-solid fa-users me-3"></i> Employees: {{userCount}} !!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>